/* ______________________________ADDE STYLE BY JS_______________________________ */
/* BLOCK 3 - OUR SERVICES */

.tabs-content__text {
  display: none;
  font-weight: 300;
  line-height: 24.37px;
  font-size: 13.64px;
  color: var(--color-shifts-tubs-text);
  /* height: 140px; */
  height: 227px;
}

.tabs-content__text.active {
  display: flex;
  justify-content: space-between;
}

.services__tabs-title.active {
  background-color: var(--color-blocks-main-two);
  border: var(--color-blocks-main-two);
  color: var(--color-blocks-main-one);
}

.services__tabs-title.active::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  margin-top: 70px;
  background-color: var(--color-blocks-main-two);
}
/* BLOCK 3 - OUR SERVICES */

/* BLOCK 5 - WORK EXAMPLES */

.work-examples__tabs.li {
  width: 285px;
  height: 206px;
}

.we__content.hidden {
  display: none;
}

.work-examples__first-cell {
  width: 285px;
  height: 206px;
}

/* .we__content.active {
  display: block;
} */

.we__content-two {
  display: none;
}

.we__content-three {
  display: none;
}

.purchase-section__button {
  cursor: pointer;
}

.purchase-section__button.hidden {
  visibility: hidden;
}
