@import "./variables.css";

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf), url(../fonts/Montserrat-Light.woff2);
  font-size: light;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf),
    url(../fonts/Montserrat-Regular.woff2);
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf), url(../fonts/Montserrat-Bold.woff2);
  font-size: bold;
  font-weight: 700;
}

/* ------------------- GENERAL SETTINGS ------------------- */

html {
  min-width: 1200px;
  /* margin: 0 auto; */
}

body {
  font-family: "Montserrat", serif;
}

/* body-wrapper {
  position: relative;
  margin: 0 auto;
} */

.container {
  width: 1160px;
}

/* ------------------- GENERAL SETTINGS ------------------- */

/* ------------------- HEADER ------------------- */

.container,
.header-wrapper,
.header,
.header-logo,
.header-logo__icon,
.nav,
.nav__list,
.header__search-icon,
.main-block,
.main-block__text-wrapper {
  display: flex;
}

.main-block {
  background-image: url("../images/background/background-header.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* delete after content */
  height: 1012px;
  /* delete after content */
}

.header-wrapper {
  position: absolute;
  background: rgba(94, 93, 88, 0.6);
  justify-content: center;
  width: 100%;
  height: 120px;
}

.header {
  justify-content: space-between;
}

.header-logo {
  align-items: center;
  justify-content: space-between;
  width: 198px;
}

.header-logo__icon {
  background-image: url(../images/icons/logo.png);
  width: 58px;
  height: 67px;
  justify-content: center;
  align-items: center;
}

.header-logo__icon span {
  color: var(--color-blocks-main-one);
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
}

.header-logo__title-one {
  font-size: 32px;
  color: var(--color-blocks-main-one);
  line-height: 48px;
}

.header-logo__title-two {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-blocks-main-two);
  line-height: 48px;
}

.nav {
  align-items: center;
}

.nav__list {
  width: 615px;
  justify-content: space-between;
}

.nav__list li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

.nav__list li:hover {
  color: var(--color-blocks-main-two);
  margin-bottom: -50px;
}

.nav__list li:hover::after {
  content: "";
  border-bottom: 2px solid var(--color-blocks-main-two);
  display: block;
  padding-bottom: 48px;
}

.nav__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 21px;
}

.nav__icon-wrapper img {
  width: 21px;
  height: 20px;
}

.fa-magnifying-glass {
  color: rgba(255, 255, 255, 0.6);
}

.fa-magnifying-glass:hover {
  color: var(--color-blocks-main-two);
  cursor: pointer;
}

/* ------------------- HEADER ------------------- */

/* ------------------- BLOCK 1 - MAIN BLOCK ------------------- */

.main-block {
  align-items: center;
  flex-direction: column;
}

.main-block__text-wrapper {
  margin-top: 379px;
  flex-direction: column;
  height: 213px;
  justify-content: space-between;
  align-items: center;
}

.main-block__title-above-left {
  font-size: 35px;
  color: var(--color-blocks-main-one);
  font-weight: 700;
  text-transform: uppercase;
}

.main-block__title-above-right {
  color: var(--color-blocks-main-two);
}

.main-block__title-main {
  font-size: 78px;
  font-weight: 700;
  color: var(--color-blocks-main-one);
  text-transform: uppercase;
}

.main-block__title-under {
  text-transform: capitalize;
  font-size: 34px;
  color: #d4d4d4;
}

.main-block__button-wrapper {
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
  width: 364px;
  position: relative;
}

.main-block__button {
  width: 169px;
  height: 68px;
  border-radius: 5px;
  border: none;
  z-index: 1;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-blocks-main-one);
  text-align: center;
  display: block;
}

.main-block__button-one {
  background-color: var(--color-blocks-main-two);
  margin-top: 4.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-block__button-two {
  background-color: #00cbf6;
  margin-top: 4.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-block__button-background {
  position: absolute;
  z-index: 0;
  background-color: var(--color-blocks-main-one);
}

.main-block__button-background:last-child {
  left: 195px;
}

/* ------------------- BLOCK 1 - MAIN BLOCK ------------------- */

/* ------------------- BLOCK 2 - ADVANTAGES ------------------- */
.advantages-wrapper {
  height: 360px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.advantages:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  background-color: var(--color-blocks-main-three);
}

.advantages:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  background-color: var(--color-blocks-main-two);
}

.advantages:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  background-color: var(--color-blocks-main-three);
}

.advantages:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  background-color: var(--color-blocks-main-two);
}

.advantages:nth-child(1) img,
.advantages:nth-child(3) img {
  margin-top: 85px;
}

.advantages:nth-child(2) img,
.advantages:nth-child(4) img {
  margin-top: 96px;
}

.advantages:nth-child(1) img {
  width: 57.54px;
  height: 97px;
}

.advantages:nth-child(2) img {
  width: 93px;
  height: 75px;
}

.advantages:nth-child(3) img {
  width: 60px;
  height: 96px;
}

.advantages:nth-child(4) img {
  width: 99px;
  height: 76px;
}

.advantages > p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.advantages:nth-child(1) p,
.advantages:nth-child(2) p,
.advantages:nth-child(3) p,
.advantages:nth-child(4) p {
  margin-bottom: 103px;
}

.advantages:nth-child(1) p,
.advantages:nth-child(3) p {
  color: var(--color-shifts-header-secondary);
}

.advantages:nth-child(2) p,
.advantages:nth-child(4) p {
  color: var(--color-shifts-main);
}

/* ------------------- BLOCK 2 - ADVANTAGES ------------------- */