/* ______________________________ADDE STYLE BY JS_______________________________ */
/* BLOCK 3 - OUR SERVICES */
.tabs-content__text {
  display: none;
  font-weight: 300;
  line-height: 24.37px;
  font-size: 13.64px;
  color: var(--color-shifts-tubs-text);
  /* height: 140px; */
  height: 227px;
}

.tabs-content__text.active {
  display: flex;
  justify-content: space-between;
}

.services__tabs-title.active {
  background-color: var(--color-blocks-main-two);
  border: var(--color-blocks-main-two);
  color: var(--color-blocks-main-one);
}

.services__tabs-title.active::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  margin-top: 70px;
  background-color: var(--color-blocks-main-two);
}
/* BLOCK 3 - OUR SERVICES */

/* BLOCK 5 - WORK EXAMPLES */

/* overlay */
.we__content {
  position: relative;
  height: 206px;
  /* width: 285px; */
}

.we__content:hover .overlay {
  display: flex;
  height: 206px;
  width: 285px;
}
/* overlay */

.we__content.hidden {
  display: none;
}

.we__content.active {
  display: block;
}

.we__content-two {
  display: none;
}

.we__content-three {
  display: none;
}

.load-button {
  cursor: pointer;
  position: relative;
}

/* .gallery__load-button:focus {
  color: transparent;
}

.gallery__load-button:focus img {
  visibility: hidden;
}

.gallery__load-button:focus::after {
  position: absolute;
  content: "";
  border: 0.2em solid red;
  width: 1em;
  height: 1em;
  top: 0.15em;
  border-radius: 1em;
  left: 84px;
  border-top-color: black;
  animation: spin 2s linear infinite;
} */

.button-loading__text {
  color: transparent;
}

.button-loading__img {
  visibility: hidden;
}

.button-loading::after {
  position: absolute;
  content: "";
  border: 5px solid #fff;
  width: 25px;
  height: 25px;
  top: 19px;
  border-radius: 18px;
  left: 73px;
  border-top-color: var(--color-blocks-main-two);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-button.hidden {
  /* visibility: hidden; */
  display: none;
}
/* BLOCK 5 - WORK EXAMPLES */
.gallery__button {
}
/*  */
