@import "./variables.css";
@import "./scripts.css";
@import "./slick.css";

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf), url(../fonts/Montserrat-Light.woff2);
  font-size: light;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf),
    url(../fonts/Montserrat-Regular.woff2);
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf), url(../fonts/Montserrat-Bold.woff2);
  font-size: bold;
  font-weight: 700;
}

/* ------------------- GENERAL SETTINGS ------------------- */
html {
  min-width: 1200px;
}

body {
  font-family: "Montserrat", serif;
}

.container,
.grid-wrapper {
  width: 1160px;
}

.container {
  margin: 0 auto;
}

/* ------------------- HEADER ------------------- */
.container,
.header-wrapper,
.header,
.header__logo,
.header__logo-icon,
.nav,
.nav__list,
.header__search-icon,
.main-block,
.main-block__text-wrapper,
.nav__icon-wrapper,
.main-block__button-wrapper,
.button,
.main-block__button-two,
.advantages-wrapper,
.advantages:nth-child(1),
.advantages:nth-child(2),
.advantages:nth-child(3),
.advantages:nth-child(4),
.services-wrapper,
.services__tabs,
.services__tabs-title,
.purchase,
.work-examples,
.work-examples__tabs,
.work-examples__tabs-title,
.work-examples__tabs-content,
.we__content:hover .overlay,
.overlay,
.overlay__icons-wrapper,
.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2),
.posts-wrapper,
.posts,
.post,
.post__date,
.under-title,
.reviews-background,
.reviews-wrapper,
.review__text,
.review__photo,
footer {
  display: flex;
}

.header,
.header__logo,
.nav__list,
.main-block__text-wrapper,
.main-block__button-wrapper,
.advantages:nth-child(1),
.advantages:nth-child(2),
.advantages:nth-child(3),
.advantages:nth-child(4),
.overlay__icons-wrapper,
.posts,
.under-title {
  justify-content: space-between;
}

.header-wrapper,
.header__logo-icon,
.nav__icon-wrapper,
.button,
.main-block__button-two,
.services__tabs-title,
.work-examples__tabs-title,
.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2),
.post__date,
.review__text,
footer {
  justify-content: center;
}

.advantages-wrapper,
.services__tabs {
  justify-content: space-evenly;
}

.header__logo,
.header__logo-icon,
.nav,
.nav__icon-wrapper,
.main-block,
.main-block__text-wrapper,
.button,
.main-block__button-two,
.advantages:nth-child(1),
.advantages:nth-child(2),
.advantages:nth-child(3),
.advantages:nth-child(4),
.services-wrapper,
.services__tabs-title,
.purchase,
.work-examples,
.work-examples__tabs-title,
.overlay,
.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2),
.posts-wrapper,
.post__date,
.under-title,
.reviews-background,
.reviews-wrapper,
.review__text,
.review__photo,
.gallery-wrapper,
footer {
  align-items: center;
}

.main-block,
.main-block__text-wrapper,
.advantages:nth-child(1),
.advantages:nth-child(2),
.advantages:nth-child(3),
.advantages:nth-child(4),
.services-wrapper,
.purchase,
.work-examples,
.overlay,
.posts-wrapper,
.post,
.post__date,
.reviews-background,
.reviews-wrapper,
.review__text,
.review__photo,
.gallery-wrapper {
  flex-direction: column;
}

.main-block,
.purchase,
.reviews-background {
  background-size: cover;
}

.main-block {
  background-image: url("../images/background/background-header.jpg");
  background-attachment: fixed;
}

.header-wrapper,
.main-block__button-background,
.services__tabs-title.active::after,
.purchase::after,
.overlay,
.post__date,
.reviews-background::after {
  position: absolute;
}

.main-block__button-wrapper,
.services__tabs-title,
.purchase__button,
.we__content,
.post {
  position: relative;
}

.button,
.purchase p:nth-child(1),
.purchase p:nth-child(2),
.purchase__button-wrapper,
.purchase__button,
.reviews-wrapper,
.review__photo,
.slider-nav img {
  z-index: 1;
}

.main-block__button-background,
.purchase::after,
.reviews-background::after {
  z-index: 0;
}

.header-wrapper,
.purchase::after,
.reviews-background::after,
.gallery-item img {
  width: 100%;
}

.header-wrapper {
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
}

.header__logo {
  width: 198px;
}

.header__logo-icon {
  background-image: url(../images/icons/logo.png);
  width: 58px;
  height: 67px;
}

.header__logo-icon span,
.header__logo-title-one,
.main-block__title-above-left,
.main-block__title-main,
.button,
.main-block__button-background,
.services__tabs-title.active,
.post__date,
.reviews-wrapper h2 {
  color: var(--color-blocks-main-one);
}

.header__logo-title-two,
.nav__list li:hover,
.fa-magnifying-glass:hover,
.main-block__title-above-right,
.purchase p:nth-child(1),
.work-examples__tabs-title.aktive,
.overlay p:nth-child(2),
.post:hover h3,
.review__name,
footer a {
  color: var(--color-blocks-main-two);
}

.header__logo-icon span,
.purchase p:nth-child(1) {
  font-size: 40px;
}

.header__logo-title-one,
.header__logo-title-two {
  font-size: var(--font-size-header-title);
}

.header__logo-icon span,
.header__logo-title-two,
.nav__list li,
.main-block__title-above-left,
.main-block__title-main,
.button,
.advantages > p,
.purchase p:nth-child(1),
.overlay p:nth-child(2),
h3,
.review__name {
  font-weight: 700;
}

.header__logo-icon span {
  line-height: 31px;
}

.header__logo-title-one,
.header__logo-title-two {
  line-height: 48px;
}

.nav__list {
  width: 615px;
}

.nav__list li,
.main-block__title-above-left,
.main-block__title-main,
.button,
.advantages > p,
.purchase p:nth-child(1),
.overlay p:nth-child(2),
.under-title p:first-letter,
.review__name {
  text-transform: uppercase;
}

.nav__list li,
.fa-magnifying-glass {
  color: rgba(255, 255, 255, 0.6);
}

.nav__list li {
  font-size: 16px;
}

.nav__list li:hover {
  margin-bottom: -50px;
}

.nav__list li:hover::after,
.services__tabs-title.active::after,
.purchase::after,
.under-title p:first-child::after,
.reviews-background::after {
  content: "";
}

.nav__list li:hover::after {
  border-bottom: 2px solid var(--color-blocks-main-two);
  display: block;
  padding-bottom: 48px;
}

.nav__icon-wrapper {
  margin-left: 21px;
}

.nav__icon-wrapper img,
.services__tabs-title.active::after {
  height: 20px;
}

.nav__icon-wrapper img {
  width: 21px;
}

.fa-magnifying-glass:hover,
.services__tabs-title,
.work-examples__tabs-title,
.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2),
.gallery-item img {
  cursor: pointer;
}

/* ------------------- BLOCK 1 - MAIN BLOCK ------------------- */
.main-block__text-wrapper {
  margin-top: 379px;
  height: 213px;
}

.main-block__title-above-left {
  font-size: var(--font-size-header-secondary);
}

.main-block__title-main {
  font-size: var(--font-size-site-main-text);
}

.main-block__title-under,
h2,
.services__tabs-title,
.work-examples__tabs-title,
.overlay a,
.post__date p,
h3,
.review__position,
footer {
  text-transform: capitalize;
}

.main-block__title-under {
  font-size: var(--font-size-header-third);
  color: var(--color-shifts-header-third);
}

.main-block__button-wrapper {
  margin: 122px 0px 243px;
  width: 364px;
}

.button,
.review__text p,
footer {
  text-align: center;
}

.button {
  width: 169px;
  height: 68px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.main-block__button-one,
.purchase__button,
.load-button,
.advantages:nth-child(2),
.advantages:nth-child(4),
.services__tabs-title.active,
.services__tabs-title.active::after,
.overlay__icons-background:nth-child(2),
.post:hover .post__date {
  background-color: var(--color-blocks-main-two);
}

.main-block__button-one,
.main-block__button-two {
  margin-top: 4.75px;
}

.main-block__button-two {
  background-color: #00cbf6;
}

.main-block__button-background,
.overlay__icon {
  background-color: var(--color-blocks-main-one);
}

.main-block__button-background:nth-child(3) {
  left: 195px;
}

/* ------------------- BLOCK 2 - ADVANTAGES ------------------- */
.advantages-wrapper {
  height: 360px;
  margin-top: 8px;
}

.advantages:nth-child(1),
.advantages:nth-child(2),
.advantages:nth-child(3),
.advantages:nth-child(4) {
  width: 25%;
}

.advantages:nth-child(1),
.advantages:nth-child(3) {
  background-color: var(--color-blocks-main-three);
}

.advantages:nth-child(1) img,
.advantages:nth-child(3) img {
  margin-top: 85px;
}

.advantages:nth-child(2) img,
.advantages:nth-child(4) img {
  margin-top: 96px;
}

.advantages:nth-child(1) img {
  width: 57.54px;
  height: 97px;
}

.advantages:nth-child(2) img {
  width: 93px;
  height: 75px;
}

.advantages:nth-child(3) img {
  width: 60px;
  height: 96px;
}

.advantages:nth-child(4) img,
.services__tabs-title {
  height: 76px;
}

.advantages:nth-child(4) img {
  width: 99px;
}

.advantages > p {
  font-size: var(--font-size-icons-text);
}

.advantages:nth-child(1) p,
.advantages:nth-child(2) p,
.advantages:nth-child(3) p,
.advantages:nth-child(4) p {
  margin-bottom: 103px;
}

.advantages:nth-child(1) p,
.advantages:nth-child(3) p {
  color: var(--color-shifts-header-secondary);
}

.advantages:nth-child(2) p,
.advantages:nth-child(4) p {
  color: var(--color-shifts-main);
}

/* ------------------- BLOCK 3 - OUR SERVICES ------------------- */
.services-wrapper {
  margin-top: 92px;
}

h2,
.services__tabs-title,
.purchase p:nth-child(1),
.purchase p:nth-child(2),
h3,
.under-title p {
  line-height: 40px;
}

h2 {
  color: var(--color-shifts-titles);
  font-size: var(--font-size-titles);
  margin-bottom: 28px;
}

.decor-line,
.decor-line:nth-child(2) {
  border-top: 1px solid var(--color-shifts-header-secondary);
}

.decor-line {
  width: 76px;
}

.decor-line:nth-child(2),
.services__tabs-content img {
  margin-right: 13px;
}

.decor-line:nth-child(2) {
  margin-bottom: 4px;
}

.services__tabs {
  margin-top: 67px;
}

.services__tabs-title,
.work-examples__tabs-title {
  color: var(--color-blocks-secondary);
}

.services__tabs-title {
  width: 195px;
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;
}

.services__tabs-title:hover {
  border: 1.5px solid var(--color-blocks-main-two);
}

.services__tabs-title.active {
  border: var(--color-blocks-main-two);
}

.services__tabs-title.active::after {
  transform: rotate(45deg);
  width: 20px;
  margin-top: 70px;
}

.services__tabs-content {
  margin-top: 26px;
}

.services__tabs-content img {
  width: 194px;
  height: 139px;
}

/* ------------------- BLOCK 4 - PURCHASE BUTTON ------------------- */
.purchase {
  background-image: url("../images/background/background.jpg");
  background-position-y: 47%;
}

.purchase::after {
  height: 478px;
  background-color: rgba(0, 0, 0, 0.75);
}

.purchase p:nth-child(1) {
  margin-top: 126px;
}

.purchase p:nth-child(2) {
  color: var(--color-shifts-secondary-block-four);
  margin: 12px 0px 60px;
}

.purchase__button-wrapper {
  margin-bottom: 128px;
}

.purchase__button {
  margin-top: 4px;
}

/* ------------------- BLOCK 5 - WORK EXAMPLES ------------------- */
.work-examples-background,
.work-examples__tabs-title,
.overlay {
  background-color: var(--color-blocks-third);
}

.work-examples {
  padding-top: 95px;
  padding-bottom: 99px;
}

.work-examples__tabs {
  margin: 67px 0px 69px;
}

.work-examples__tabs-title,
.overlay p:nth-child(2) {
  font-size: var(--font-size-small);
}

.work-examples__tabs-title {
  border: 1px solid #dadada;
  line-height: 42px;
  padding: 14px 15px 13px;
}

.work-examples__tabs-title:first-child {
  padding-left: 29px;
  padding-right: 29px;
}

.work-examples__tabs-title:hover,
.work-examples__tabs-title.aktive {
  border: solid 2px var(--color-blocks-main-two);
  box-sizing: border-box;
}

.work-examples__tabs-content,
.posts {
  flex-wrap: wrap;
}

.work-examples__tabs-content {
  margin-bottom: 70px;
}

/* overlay */
.we__content,
.we__content:hover .overlay {
  height: 206px;
}

.we__content:hover .overlay {
  width: 285px;
}

.overlay {
  height: 0px;
  width: 0px;
  border-top: 2.5px solid var(--color-blocks-main-two);
  margin-right: 2px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
}

.overlay__icons-wrapper {
  width: 88px;
  margin: 42px 0px 24px;
}

.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2),
.review__photo,
.slider-nav img {
  border-radius: 50%;
}

.overlay__icons-background:nth-child(1) {
  border: 1px solid var(--color-blocks-main-two);
}

.overlay__icons-background:nth-child(1),
.overlay__icons-background:nth-child(2) {
  width: 40px;
  height: 40px;
}

.overlay__icon {
  width: 12px;
  height: 12px;
}

.overlay p:nth-child(2),
.overlay a {
  line-height: 25px;
}

.overlay a {
  color: var(--color-shifts-secondary-block-five);
  font-size: 12px;
}

.overlay a,
.under-title p,
.review,
.review__position,
footer {
  font-weight: 300;
}

.overlay a:hover {
  text-decoration: underline;
}

/* button */
.load-button img {
  margin-right: 15px;
}

/* ------------------- BLOCK 6 - POSTS ------------------- */
.posts-wrapper {
  margin-top: 84px;
  margin-bottom: 86px;
}

.posts {
  margin-top: 68px;
}

.post {
  margin-bottom: 44px;
  width: 263px;
}

.post__date {
  right: 0;
  width: 66px;
  height: 64px;
  background-color: var(--color-post-date);
}

.post__text-wrapper {
  margin: 4px 55px 12px 13px;
  width: 197px;
}

h3 {
  font-size: 18px;
  color: var(--color-shifts-tubs-title);
}

.under-title {
  width: 184px;
}

.under-title p,
footer {
  font-size: var(--font-size-small);
}

.under-title p {
  color: var(--color-shifts-tubs-text);
  margin-top: -10px;
}

.under-title p:first-child::after {
  border-right: 1px solid var(--color-shifts-tubs-text);
  margin-left: 18px;
}

/* ------------------- BLOCK 7 - REVIEWS ------------------- */
.reviews-background {
  background-image: url("../images/background/background-reviews.jpg");
  background-position-y: 30%;
}

.reviews-background::after {
  height: 853px;
  background-color: rgba(0, 0, 0, 0.35);
}

.reviews-wrapper {
  margin: 100px 0px 0px;
}

.reviews-icon {
  margin: 66px 0px 37px;
}

.review {
  color: var(--color-shifts-secondary-block-reviews);
  line-height: 30px;
}

.review__text {
  margin-bottom: 25px;
}

.review__text p:first-child {
  height: 45px;
}

.review__name {
  line-height: 27px;
  margin-top: 30px;
}

.review__position {
  font-size: 13px;
}

.review__photo {
  margin-top: 25px;
  border: solid 12px rgb(31, 218, 181, 0.2);
  width: 143px;
}

.slider-nav a {
  margin: 0px 13px;
}

.slider-nav img {
  border: solid 5px rgb(31, 218, 181, 0.2);
  width: 61px;
}

/* ------------------- BLOCK 8 - GALLERY ------------------- */
.gallery-wrapper {
  padding-top: 109px;
  padding-bottom: 67px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 72px;
  margin-bottom: 52px;
}

.gallery-item {
  margin-bottom: 10px;
}

.gallery-item img {
  opacity: 0.9;
}

.gallery-item:hover img {
  opacity: 1;
}

.gallery-sizer {
  width: 374px;
}

/* ------------------- FOOTER ------------------- */
footer {
  line-height: 26px;
  color: var(--color-shifts-footer);
  height: 121px;
  background-color: var(--color-footer);
}

footer a {
  text-transform: none;
}
